@model Project_Manage.Models.Task

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_id" class="control-label"></label>
                <select asp-for="Project_id" class="form-control" asp-items="ViewBag.Project_id"></select>
                <span asp-validation-for="Project_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_id" class="control-label"></label>
                <select asp-for="Employee_id" class="form-control" asp-items="ViewBag.Employee_id"></select>
                <span asp-validation-for="Employee_id" class="text-danger"></span>
            </div>
            <div class="form-group-custom">
                <label asp-for="Status"></label>
                <select asp-for="Status"
                        class="form-control-custom"
                        asp-items="Html.GetEnumSelectList<Project_Manage.Models.TaskStatus>()">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
